{% extends "base.html" %}

{% block content %}
<section class="flex justify-center">
    <div class="max-w-2xl text-center p-6 bg-secondary rounded-lg shadow-lg">
        <h1 class="text-4xl font-bold mb-4 text-accent">About Me</h1>
        <p class="text-lg">I am Božidar Serdarević, a recent IT graduate specializing in Linux, servers, virtualization, and containerization. I am passionate about leveraging my skills to contribute to dynamic IT environments.</p>
        <p class="mt-4">Contact me at: <span class="text-accent">serdarevicbozidar@gmail.com</span> | <span class="text-accent">060 660 3321</span></p>
    </div>
</section>
{% endblock %}
