{% extends "base.html" %}

{% block content %}
<section class="flex justify-center">
    <div class="max-w-2xl text-center p-6 bg-secondary rounded-lg shadow-lg">
        <h1 class="text-4xl font-bold mb-4 text-accent">Technical Skills</h1>
        <ul class="list-disc list-inside text-lg">
            <li>Operating Systems: Linux (Ubuntu, CentOS)</li>
            <li>Virtualization: Proxmox, KVM</li>
            <li>Containerization: Docker</li>
            <li>CI/CD Tools: Jenkins</li>
            <li>Scripting Languages: Python, Bash</li>
            <li>Programming Languages: Python, JavaScript, Java</li>
            <li>Networking: TCP/IP, DNS, DHCP, VPN</li>
            <li>Cloud Computing: Linode Cloud, DigitalOcean, AWS</li>
            <li>System Administration: Bash scripting, network configuration, security protocols</li>
        </ul>
    </div>
</section>
{% endblock %}
